<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="icon" href="/img/icon.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class='portrait' src="img/robot.png" >
        <p>created by kangback ho!! It uses data from mapbox.com and darksky.net !!</p>
    
        <h2>{{title}}</h2>
        <h3>{{name}} 이런사람입니다</h3>
    </div>
    

    {{>footer}}
</body>
</html>