<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="icon" href="/img/icon.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Help Page HTML</h1>
        <h2>{{title}}</h2>
        <h3>{{name}} hahaha</h3>
    </div>
    

    {{>footer}}
</body>
</html>